# Dependencies
node_modules/
.pnp
.pnp.js

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Metro
.metro-health-check*

# Native
.kotlin/
*.iml
.idea/
.gradle
local.properties
*.hprof
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# iOS
*.ipa
*.pem
ios/Pods/
ios/build/
/ios

# Android
*.apk
*.aab
android/.gradle/
android/app/build/
android/build/
/android

# Environment
.env
.env.local
.env.*.local
*.tsbuildinfo

# Logs
npm-debug.*
yarn-debug.*
yarn-error.*
*.log

# Testing
coverage/

# OS
.DS_Store
Thumbs.db

# Editors
.vscode/
*.swp
*.swo

# Build / cache
dist/
build/
.cache/

# Storybook
storybook-static/

# Temp
__expo_init/
